html, body {
  caret-color: transparent;
}

.colorpicker{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-container {
  width: 90vw;
  height: 80vh;
  padding-top: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: #9f9f4b75;
}

.Back, .forward {
  cursor: pointer;
  width: auto;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 4px 0 0 4px;
  user-select: none;
}

.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

.forward {
  border-radius:  0 5px 5px 0;
}

.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 20px 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable {
  background-color: #717161;
}

.dots:hover{
  background-color: rgb(94, 179, 179);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

.content{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left, .right{
  height: 67vh;
  width: 45vw;
}

.left{
  background-color: rgba(255, 255, 255, 0.429);
  border-radius: 0px 200px 200px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: rgba(55, 74, 185, 0.466);
}

input[type='text']{
  height: 30px;
  width: 200px;
  border: none;
  padding: 0px 10px;
}

input[type='color']{
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
  background: transparent;
  padding: 0;
  height: 30px;
  width: 30px;
  border: none;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}